@model IEnumerable<Exam.Models.Student>

@{
    ViewData["Title"] = "Şagirdlər";
}

<h2>Şagirdlərin Siyahısı</h2>
<p><a asp-action="Create" class="btn btn-primary">Yeni Şagird Əlavə Et</a></p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Şagird Nömrəsi</th>
            <th>Adı və Soyadı</th>
            <th>Sinif</th>
            <th>Əməliyyatlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Number</td>
                <td>@item.Name @item.Surname</td>
                <td>@item.Class</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Düzəliş Et</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>